 <!--  Annulation -->
     <div class="row">
           <div class="col-lg-6">
                  	<button  type="cancel" class="btn btn-danger my-4 btn-block" onclick="loadpageesr('{{ urlimgprece }}','{{ urlprece }}','{{ idtemplateprecedent }}');return false;"> X Supprimer le Brouillon</button>                   
      		</div>
<!--  Passage à la page en cours -->
           <div class="col-lg-6">
                 	<button  type="cancel" class="btn btn-secondary my-4 btn-block" onclick="loadpageesr('{{ urlimg }}','{{ urlnext }}','{{ idtemplatenext }}');return false;">Continuer la saisie</button>                   
           </div>
</div>