<div class="row">
	<div class="col-lg-3" id="image_esr">

    </div>
    <div class="col-lg-9" id="contenu_esr">
      
    </div>        
</div>
<script>


function getcurrentpage(){

	if(typeof(currentEsrId) != "undefined")
		{
			{% if isesr %}
				urltmp="{{url('getopeningesrpage',{'esrid':'_esrid'})}}";
			{% else %}
				urltmp="{{url('getopeningeipage',{'esrid':'_esrid'})}}";
			{% endif %}
		    url2=urltmp.replace('_esrid',currentEsrId);
		}
	else
		{% if isesr %}
    		url2="{{url('getopeningesrpage')}}";
		{% else %}
			url2="{{url('getopeningeipage')}}";
		{% endif %}
		 $.ajax({
	       url: url2,
	       type: 'GET',
	       dataType : 'json',
	       
	       success: function(datas){
	               console.log(datas);
	               loadesr('image_esr',datas.openingimagepage);
	               loadesr('contenu_esr',datas.openingpage);

	           }
	           
	       });

}


$(document).ready(function() {

	
	//urlimg="{{url('getpageesr',{idesr:"0",typepage:"getimgdeclarant"})}}";
	//loadesr('image_esr',urlimg);

	//getcurrentpage();
	});


</script>