<div style="height:600px;overflow-y:scroll;">
<div  id="identitiedeclarant">
	<form class="text-center border border-light p-5" action="#!">
		<p class="h4 mb-4 text-center">Actions correctives immédiates</p>
						
						
         <p  class="text-center  mb-3 mt-3" style="border-bottom:1px solid #ced4da;">                     	
         <strong>1.</strong>
          Actions correctives immediates mises en oeuvre
          </p>  
         <div class="form-group">
            <textarea placeholder="Décrire les actions conservatoires mises en oeuvre après la survenue de l'évènement" class="form-control rounded-0" id="actionconservatoires" rows="7">{{ esr.actionconservatoires }}</textarea>
      </div>
                        
 
 
       <p  class="text-center  mb-3 mt-3" style="border-bottom:1px solid #ced4da;">                     	
           <strong>2.</strong>
           Suggestion d'actions d'amélioration
       </p>  
       <div class="form-group">
           <textarea placeholder="Décrire les actions correctives immédiates mises en oeuvre après la survenue de l'évènement" class="form-control rounded-0" id="actioncorrectives" rows="7">{{ esr.actioncorrectives }}</textarea>
       </div>                      
       
       
       
        {% include ("@EasyDose/portlet/Esr/precedent_next_esr.html.twig") %}   
     </form>  
</div>
</div>

<script>
changeesrValueGlobal('{{urlsaveesrvalue}}',{{id_esr_courant}},'input','actionconservatoires');
changeesrValueGlobal('{{urlsaveesrvalue}}',{{id_esr_courant}},'input','actioncorrectives');
</script>