 <!--  Passage à la page précédente -->
                       <div class="row">
                         <div class="col-lg-6">
                        	<button type="cancel" class="btn my-4 btn-block" style="background-color: #72afd2;" onclick="loadpageesr('{{ urlimgprece }}','{{ urlprece }}','{{ idtemplateprecedent }}');return false;"> Précédent</button>                   
                   		</div>
                        <!--  Passage à la page suivante -->
                        <div class="col-lg-6">
                        	<button type="cancel" class="btn btn-secondary my-4 btn-block" onclick="loadpageesr('{{ urlimg }}','{{ urlnext }}','{{ idtemplatenext }}');return false;">Suivant</button>                   
                       </div>
                       </div>
