<div style="border:1px solid #e0e0e0;padding:6px;background-color:rgba(252,252,252,0.8);">
<div class="mt-3">
<div class="row">
	<div class="col-md-7 "><strong>La patiente présente t-elle un état de grossesse?</strong></div>
	
	
                        <div class="form-check mb-4">
                        
                        <input class="form-check-input" name="group0" type="checkbox" id="checkFENON{{patient.id }}"  onclick="changeother('#checkFEOUI{{patient.id }}')" value="{{ patient.id }}-optionO" data-toggle="collapse" href=".multi-collapse{{ patient.id }}" aria-expanded="false" aria-controls="collapserecomm{{ patient.id }} divconsproto{{ patient.id }}" checked>
                          <label class="form-check-label" for="checkFENON{{ patient.id }}">NON</label>
                        
                        
                          <input class="form-check-input" name="group0" type="checkbox" id="checkFEOUI{{patient.id }}" onclick="changeother('#checkFENON{{patient.id }}')" value="{{ patient.id }}-optionO" data-toggle="collapse" href=".multi-collapse{{ patient.id }}" aria-expanded="false" aria-controls="collapserecomm{{ patient.id }} divconsproto{{ patient.id }}">
                          <label class="form-check-label" for="checkFEOUI{{ patient.id }}">OUI</label>
                        </div>
                        

</div>                    
</div>  
</div>

<br>

                <div class="collapse row valueidentificationpatient multi-collapse{{ patient.id }}" id="divconsproto{{ patient.id }}">
                	<div  class="col-md-12 "><center><span  style="border-top:1px solid #e0e0e0; border-bottom:1px solid #e0e0e0;"><code>Action à mettre en oeuvre :</code> <strong>Prévenir le médecin et adapter le protocole.</strong><span></center></div>
                	
                </div>
<div class="collapse multi-collapse{{ patient.id }}" id="collapserecomm{{ patient.id }}" style="border:1px solid #e0e0e0;padding:6px;margin-top:20px; background-color:rgba(252,252,252,0.8);" >
  <div class="mt-3">



                
                
                
                <div class="row valueidentificationpatient" id="divvalmedic{{ patient.id }}">
                
                	<div  class="col-md-7 ">Souhaitez-vous demander une validation médicale?</div>
                

                        <div class="form-check mb-4">
                        
                         <input class="form-check-input" onclick="changeother('#checkVALOUI{{patient.id }}');" name="group2" type="checkbox" id="checkVALNON{{ patient.id }}" value="{{ patient.id }}-optionH1"
                          checked>
                          <label class="form-check-label" for="checkVALNON{{ patient.id }}">NON</label>
                        
                        
                          <input class="form-check-input" onclick="changeother('#checkVALNON{{patient.id }}');valmedicchecked({{ patient.id }});" name="group2" type="checkbox"  id="checkVALOUI{{ patient.id }}" value="{{ patient.id }}-optionH2"
                          data-toggle="modal" data-target="#basicExampleModal" >
                          <label class="form-check-label" for="checkVALOUI{{ patient.id }}">OUI</label>
                        </div>
                 
               
                                      
                </div>
  </div>
</div>





